<html>
<head>
  <title>Indexes</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <ul>
  {{#each indexes}}
  <li>{{@key}}</li>
  {{/each}}
  </ul>
</body>
</html>
